<div class="column">
  <div class="card is-one-fourth pl-5 pr-5">

    <div class="card-content">
      <p class="title is-5">
          <%= customer.name %>
      </p>
    </div>
    <% if customer.image.present? %>
      <div class="card-image is-centered">
        <figure class="imagem">
          <%= image_tag customer.image, alt:"customer", width:"200" %>
        </figure>
      </div>
    <% end %>
      <p class="p-3">
        <%= customer.phone %>
      </p>
      <p class="p-3">
        <%= customer.email %>
      </p>
      <p class="p-3 pb-5">
        <strong>Notes: </strong><%= customer.notes %>
      </p>
    </footer>
  </div>
</div>