<!DOCTYPE html>
<html>
  <head>
    <title>Crm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>

  <body>
  <div class="m-5">
    <p><%= link_to 'Customers', customers_path %></p>
    <p><%= link_to 'Customers alphabetized', customers_alphabetized_path %></p>
    <p><%= link_to 'Customers with missing emails', customers_missing_email_path %></p>
  </div>
    <%= yield %>
  </body>
</html>
